.container, 
.jumbotron, 
.container-fluid,
.jumbotron{
    font-family: 'Encode Sans Expanded', sans-serif;
    font-size: 20px;
    background-color: #EBF7F9;
}
/* h1{
    font-size: 25px;
    font-weight: bold;
} */